main {
  width: 80vw;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nt-editor {
  border: 1px solid black;
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.toolbar .group:not(:last-child) {
  margin-right: 1rem;
}
.toolbar .group {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.toolbar .group *:not(:last-child) {
  margin-right: 0.25rem;
}

.toolbar button {
  width: 1.5rem;
  height: 1.5rem;
}

.output {
  margin-top: 2rem;
  background-color: rgb(243, 243, 243);
  min-height: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  width: 100%;
  flex: 1;
  resize: none;
  outline: none;
}
