<main>
  <div class="toolbar">
    <div class="group">
      <span>Font Size </span>
      <button (click)="increaseFontSize()">+</button>
      <button (click)="decreaseFontSize()">-</button>
    </div>
    <div class="group">
      <span>Tab Length </span>
      <button (click)="incTabLength()">+</button>
      <span>{{ tabSpaces }}</span>
      <button (click)="decTabLength()">-</button>
    </div>
  </div>
  <nt-editor
    [tabSpaces]="tabSpaces"
    [fontSize]="fontSizeStr"
    [codeType]="codeType"
    [value]="value"
    (valueChanged)="onValueChanged($event)"
    editable
    showLineNumber
  ></nt-editor>
  <textarea class="output" (keyup)="onKeyUp($event)">{{ value }}</textarea>
</main>
